.card {
    width: 100%;
    display: flex;
    flex: 1;
    gap: 5px;
    border-radius: 30px;
    padding: 25px;
    background-color: #fff;
    flex-grow: 1;
}

.card_info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 50%;
}

.card_info_text {
    width: 100%;
    text-align: center;
}

.card_image_container {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_name {
    font-weight: 700;
    line-height: 111px;
    font-size: 6rem;
    line-height: 90px;
    color: rgba(169, 197, 156, 1);
    margin-bottom: 10px;
}

.card_name_long {
    font-size: 6rem;
    line-height: 90px;
}

.card_description {
    font-weight: 500;
    line-height: 21px;
    color: rgba(38, 38, 38, 1);
    margin-bottom: 20px;
}

.price {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 21px;
    color: rgba(38, 38, 38, 1);
    margin-bottom: 20px;
}

.card_image {
    /* width: 100%; */
    /* height: auto; */
    max-width: 625px;
    flex: 1;
}

.card_date {
    color: rgba(103, 151, 175, 1);
    font-size: 2.1875rem;
    line-height: 45px;
    margin: 25px 0 6px;
}

.workshop_items_container {
    width: 100%;
}

.workshop_item {
    width: 100%;
}

.card_title {
    font-size: 1.5rem;
    line-height: 31px;
    margin: 5px 0;
}

.card_text {
    font-weight: 500;
    line-height: 22px;
}


@media (max-width: 480px) {
    .card {
        display: flex;
        flex-direction: column;
        flex: 1;
        border-radius: 30px;
        padding: 15px;
        background-color: #fff;
        flex-grow: 1;
        gap: 15px;
    }

    .card_info {
        width: 100%;
        max-width: 100%;
        order: 2;
    }

    .card_info_text {
        width: 100%;
    }

    .card_name {
        line-height: 50px;
        font-size: 3.5rem;
        margin-bottom: 15px;
    }

    .card_name_long {
        font-size: 3.5rem;
    }
    
    .card_image_container {
        width: 100%;
        position: relative;
    }

    .card_image {
        width: 100%;
        height: auto;
        border: 1px solid #673326;
        border-radius: 30px;
    }

    .age {
        font-size: 1.25rem;
        line-height: 19px;
    }

    .card_date {
        font-size: 1.667rem;
        line-height: 26px;
        margin: 11px 0 6px;
    }

    .card_title {
        font-size: 1.25rem;
        line-height: 19px;
        margin: 0 0 5px 0;
    }

    .card_text {
        font-weight: 500;
        line-height: 24px;
        font-size: 0.833rem;
    }
}