.container {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}

.reviews_heading {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 51px;
}

.reviews_arrows_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.reviews_arrow {
    background-color: rgba(211, 229, 238, 1);
    border-radius: 15px;
    min-width: 56px;
    min-height: 37px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    transition: .3s;
}

.reviews_arrow:hover {
    transition: .3s;
    transform: scale(1.1);
}

.reviews_arrow:active {
    transition: .3s;
    transform: scale(.9);
}

.more {
    display: none;
}

.reviews_cards_container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.review_card {
    background-color: #fff;
    padding: 30px 24px;
    border-radius: 30px;
    flex: 1;
    min-height: 386px;
    transition: .3s;
}

.reviews_arrow_img {
    margin-bottom: 14px;
    max-width: 54px;
    border-radius: 100%;
}

.reviews_arrow_name {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 31px;
    margin-bottom: 9px;
}

.reviews_card_text {
    font-weight: 500;
    line-height: 22px;
}

.reviews_card_text:not(:last-child) {
    margin-bottom: 20px;
}

@media (max-width: 480px) {
    .container {
        margin-top: 50px;
    }

    .reviews_top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .reviews_heading {
        font-size: 2rem;
        line-height: 26px;
    }

    .reviews_heading br {
        display: none;
    }

    .reviews_arrows_container {
        /* display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px; */
        display: none;
    }

    /* .reviews_arrow {
        background-color: rgba(211, 229, 238, 1);
        border-radius: 15px;
        min-width: 56px;
        min-height: 37px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        cursor: pointer;
        transition: .3s;
    } */

    .more {
        display: flex;
        background-color: rgba(211, 229, 238, 1);
        border-radius: 10px;
        min-width: 48px;
        min-height: 30px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: 5px;
        transition: .3s;
        margin-top: 5px;
        z-index: 1000;
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-5px);
        }
    }
    
    .dot {
        background-color: rgb(70, 64, 64);
        border-radius: 100%;
        width: 6px;
        height: 6px;
    }
    
    /* Анимация добавляется при активном состоянии */
    .animate .dot:nth-child(1) {
        animation: bounce 0.7s ease-in-out 1;
    }
    .animate .dot:nth-child(2) {
        animation: bounce 0.7s ease-in-out 1 0.2s;
    }
    .animate .dot:nth-child(3) {
        animation: bounce 0.7s ease-in-out 1 0.4s;
    }

    .reviews_cards_container {
        flex-direction: column;
        gap: 15px;
    }

    .review_card {
        padding: 12px 15px;
        min-height: 257px;
        transition: .3s;
    }

    .reviews_arrow_img {
        margin-bottom: 10px;
        max-width: 38px;
        max-height: 38px;
    }

    .reviews_arrow_name {
        font-size: 1.25rem;
        line-height: 20px;
        margin-bottom: 7px;
    }

    .reviews_card_text {
        line-height: 13.6px;
        font-size: 0.833rem;
    }

    .reviews_card_text:not(:last-child) {
        margin-bottom: 20px;
    }
}


@media (min-width: 481px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 1024px) {
    .reviews_top {
        margin-bottom: 25px;
    }
    .review_card {
        padding: 25px 20px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {}