@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --main-green: rgba(124, 152, 120, 1);
  --main-blue: rgba(186, 214, 228, 1);
  --foreground: rgba(38, 38, 38, 1);
  --green: rgba(124, 152, 120, 1);
  --pale-green-bg: rgba(209, 239, 205, 1);
  --pale-red-bg: rgba(255, 215, 215, 1);
  --pale-blue-bg: rgba(215, 242, 255, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  text-decoration: none;
  border: none;
  box-shadow: none;
  cursor: pointer
}

h2 {
  font-weight: 500;
}


@media (max-width: 480px) {
  html {
    font-size: 12px;
    
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {

  /* Стили для планшетов в landscape и небольших экранов */
  html {
    font-size: 14px;
  }
}