.header {
    padding: 2rem;
    width: 100%;
    /* max-width: 1300px; */
    background: linear-gradient(to right, #7E94B3, #907D93);    
    border-radius: 30px;
    max-height: 70px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 20px 0;
  }
  
  .logo{

  }

  .nav {
  }

  .nav a {
    margin-right: 1rem;
    text-decoration: none;
    color: #fff;
  }

.phone {

}
