.schedule {
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
}

.schedule_heading {
    color: #fff;
    font-size: 3.75rem;
    line-height: 77px;
    margin-top: 58px;
}





.arrows_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.arrow {
    background-color: rgba(124, 152, 120, 1);
    border-radius: 15px;
    min-width: 56px;
    min-height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.arrow:hover {
    transition: .3s;
    transform: scale(1.1);
}

.arrow:active {
    transition: .3s;
    transform: scale(.9);
}


.cards_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 23px;
}