.container {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

.news_title {
    font-weight: 700;
    font-size: 8.9375rem;
    color: rgba(245, 252, 255, 0.6);
    line-height: 184px;
    margin-bottom: -50px;
}

.news_card_container {
    width: 20%;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    text-align: left;
}
.news_card_img {
    border-radius: 30px;
    width: 100%; /* Ширина 100% от родителя */
    height: auto; /* Высота будет пропорциональна ширине */
    object-fit: contain; 
}
.news_card_title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 31px;
    margin: 22px 0 12px;
}
.news_card_text {
    padding: 0;
}


/* Лента */
.news_feed_container {
    position: relative; /* Для того, чтобы разместить стрелки сверху */
    overflow: hidden; /* Скрывает элементы, выходящие за пределы */
}

.news_feed {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; /* Плавная прокрутка */
    padding: 20px 0;
    transform: translateX(var(--scroll-position, 0)); /* Управление прокруткой через переменную */
}
.news_feed::-webkit-scrollbar {
    display: none; /* Скрываем scrollbar */
}
.news_card_container {
    flex: 0 0 calc(27% - 20px);
    scroll-snap-align: start;
    overflow: hidden;
    position: relative;
}






.navigation_buttons {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
}

.arrow_button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.arrow_button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}