.payment_btn {
    margin: 10px 0 20px;
    background-color: rgba(124, 152, 120, 1);
    color: #fff;
    border: none;
    padding: 15px 0;
    border-radius: 30px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 29px;
    transition: .3s;
}

.payment_btn:hover {
    transition: .3s;
    transform: scale(1.05);
}

.payment_btn:active {
    transition: .3s;
    transform: scale(.95);
}



@media (max-width: 480px) {
    .payment_btn {
        margin: 10px 0 15px;
        padding: 8px 0;
        font-size: 1.167rem;
        line-height: 17px;
    }

    .payment_btn:last-of-type{
        margin-bottom: 0;
    }
}

@media (min-width: 481px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1025px) and (max-width: 1280px) {}