.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  height: clamp(50vh, 80vw, 80vh);
  width: 100%;
}

.header {
  font-size: clamp(5.25rem, 4vw, 8.75rem);
  color: rgba(245, 245, 245, 1);
  font-weight: 700;
  line-height: 129%;
  text-transform: uppercase;
}

.figure_element {
  position: absolute;
  text-align: center;
}

.container div:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}

.container div:nth-of-type(2) {
  top: 0;
  right: 5%;
}

.container div:nth-of-type(3) {
  bottom: 0;
  right: 20%;
}

.figure_img {
  width: clamp(250px, 10vw, 400px);
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  .figure_element {
    position: static;
  }
}